body {
    text-align: left;
}

#main_container {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    /*added*/
    display: flex;
    /*added*/
    justify-content: center;
    /*added*/
    align-items: center;
}

#cv1 {
    position: absolute;
    width: 100%;
}

video {

    width: 100%;
    height: auto;
}

#top_div {
    padding: 1em;
}

#loader_div {
    display: inline-block;
}

#spinner_div {
    display: inline-block;
}